*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    /* background-color: red; */
    height: 100%;
    width:100%;
}
.profile-toggle{
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 500px;
    /* position: relative; */
}
#image{
    position: relative;
}
.heart{
    position: absolute;
    color: rgb(223, 217, 217);
    opacity: 0;
    top: 50%;
    left: 50%;
    /* font-size: 3.5rem; */
    z-index: 2000;
    transform: translate(-50%,-50%) scale(0);
    transition: transform ease-in-out 0.3s;
}
.profile-card{
    padding: 1.5em 1.3em;
    height: fit-content;
    position: relative;
}
.profile-img{
    width: 40px ;
    height: 40px;
}